.DS_Store
.vscode/
__pycache__/
.ipynb_checkpoints/
.virtual_documents/

# Ignore all .gz, .csv and .txt files in all directories
*.parquet
*.json
*.gz
*.csv
*.txt
*.idx


## But allow .csv and .txt files in the root directory, for example
!/archives/*.json
!*/tickers_needing_cusips.csv
!**/cusip-ticker-map.csv
!**/cusip-ticker-map.json
# !/*.csv
# !/*.txt

